@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.show {
    @apply 
    flex
    flex-col
    text-center
    absolute
    top-20
    z-50
    w-full 
    p-6
    h-[587px] 
    bg-veryDarkViolet 
    text-white
    uppercase
    text-xl
    transition 
    ease-in-out 
    delay-150
}
/* PATTERNS */
.pattern {
    @apply
    after:bg-no-repeat
    after:bg-contain
    after:bg-left-bottom
    after:absolute
    after:z-0
}
.menu-pattern {
    @apply
    after:bg-menu-pattern
    after:left-0
    after:top-0
    after:w-full
    after:h-full
}
.left-mobile-pattern {
    @apply
    after:bg-intro-left-mobile-pattern
    after:w-full
    after:h-[35%]
    after:left-0
    after:top-0
}
.right-mobile-pattern {
    @apply
    after:bg-intro-right-mobile-pattern
    after:right-0
    after:bottom-[-180px]
    after:w-[125px]
    after:h-[330px]
}
.how-we-work-pattern {
    @apply
    after:bg-how-we-work-mobile-pattern
    after:w-[175px]
    after:h-[315px]
    after:right-0
    after:top-0
    
}
/* LINES */
.line-top {
    @apply
    w-[150px]
    h-[1px]
    mb-10
}
/* BUTTONS */
.btn {
    @apply
    uppercase
    block
    py-3
    px-6
    transition 
    ease-in-out
}
.btn__menu {
    @apply
    w-full
    py-5
    hover:font-bold
}
.btn--active {
    @apply
    outline 
    outline-2
    outline-white
    hover:font-medium
    hover:bg-white
    hover:text-darkViolet
}